#view {
    background-color: transparent;
}

QScrollArea {
    border: none;
    background-color: transparent;
}


#Label {
    font: 33px 'Microsoft YaHei Light';
    background-color: transparent;
    color: white;
}