#view {
    background-color: rgb(249, 249, 249);
}

QScrollArea {
    border: none;
    background-color: rgb(249, 249, 249);
}



#Label {
    font: 33px 'Microsoft YaHei Light';
    background-color: transparent;
}